body {
	background: url(Hazy_Forest_Road_Wallpaper_qoek0.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.radmenu {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.radmenu>a {
	top: calc(50% - 60px);
	left: calc(50% - 60px);
}

.radmenu>a.show {
	display: flex !important;
}

.radmenu li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: all 1s ease;
}

.radmenu a {
	position: absolute;
	width: 120px;
	height: 120px;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 120px;
	display: none;
	text-decoration: none;
	color: #333;
	transition: all 1s ease;
	box-shadow: 0 0 15px #222;
	font-family: "segoe ui";
	font-weight: 200;
	font-size: 16px;
}

.radmenu .farmer {
	background-image: URL(farmer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.radmenu .holder {
	background: rgba(222, 125, 44, 0.9);
}

.radmenu .selected {
	background: rgba(51, 51, 51, 0.9);
	display: flex;
	top: calc(50% - 60px);
	left: calc(50% - 60px);
	color: #f1f1f1;
	box-shadow: 0 0 10px #f1f1f1;
}

.radmenu .selected+ul>li:nth-child(1) {
	-webkit-transform: rotate(60deg) translateX(100px);
	transform: rotate(60deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(1)>a {
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.radmenu .selected+ul>li:nth-child(2) {
	-webkit-transform: rotate(120deg) translateX(100px);
	transform: rotate(120deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(2)>a {
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.radmenu .selected+ul>li:nth-child(3) {
	-webkit-transform: rotate(180deg) translateX(100px);
	transform: rotate(180deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(3)>a {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.radmenu .selected+ul>li:nth-child(4) {
	-webkit-transform: rotate(240deg) translateX(100px);
	transform: rotate(240deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(4)>a {
	-webkit-transform: rotate(-240deg);
	transform: rotate(-240deg);
}

.radmenu .selected+ul>li:nth-child(5) {
	-webkit-transform: rotate(300deg) translateX(100px);
	transform: rotate(300deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(5)>a {
	-webkit-transform: rotate(-300deg);
	transform: rotate(-300deg);
}

.radmenu .selected+ul>li:nth-child(6) {
	-webkit-transform: rotate(360deg) translateX(100px);
	transform: rotate(360deg) translateX(100px);
}

.radmenu .selected+ul>li:nth-child(6)>a {
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.radmenu .selected+ul>li>a {
	display: flex;
}